{% load static %}
<!--Footer Section-->
       <footer class="footer-section">
        <div class="container">
           <div class="footer-wrapper">
              <p>
                 Copyright 2022 <a href="#0" class="text-base">BetMate</a> Todos os direitos reservados.
              </p>
              <ul class="footer-link">
                 <li>
                    <a href="#0">
                       Contato
                    </a>
                 </li>
                 <li>
                    <a href="#0">
                       Termos & Condições
                    </a>
                 </li>
                 <li>
                    <a href="#0">
                       FAQ
                    </a>
                 </li>
              </ul>
           </div>
        </div>
     </footer>
     <!--Footer Section-->