{% load static %}
<!--Sponsor Section-->
<div class="sponsor-section">
   <div class="container">
      <div class="sponsor-wrap owl-theme owl-carousel">
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/01.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/02.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/03.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/04.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/05.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/06.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/07.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/08.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/sponsor/09.png' %}" alt="img">
            </a>
         </div>
      </div>
      <div class="sponsor-wrap dark-none owl-theme owl-carousel">
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/01.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/03.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/04.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/05.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/06.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/07.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/08.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/09.png' %}" alt="img">
            </a>
         </div>
         <div class="sponsor-item">
            <a href="#0">
               <img src="{% static 'assets/img/light-sponsor/01.png' %}" alt="img">
            </a>
         </div>
      </div>
   </div>
</div>
<!--Sponsor Section-->
<!--Footer Section-->
       <footer class="footer-section">
        <div class="container">
           <div class="footer-wrapper">
              <p>
                 Copyright 2022 <a href="#0" class="text-base">BetMate</a> Todos os direitos reservados.
              </p>
              <ul class="footer-link">
                 <li>
                    <a href="#0">
                       Contato
                    </a>
                 </li>
                 <li>
                    <a href="#0">
                       Termos & Condições
                    </a>
                 </li>
                 <li>
                    <a href="#0">
                       FAQ
                    </a>
                 </li>
              </ul>
           </div>
        </div>
     </footer>
     <!--Footer Section-->