{% load static %}
<!--==== Header top Here  ====== -->
<header class="header-section header-hidden">
    <div class="header-wrapper">
       <div class="menu-logo-adjust d-flex align-items-center">
          <div class="logo-menu me-5">
             <a href="index.html" class="logo">
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
             </a>
             <a href="index.html" class="dark-logo">
                <img src="{% static 'assets/img/logo/dark-logo.png' %}" alt="logo">
             </a>
          </div>
          <div class="header-bar">
             <span></span>
             <span></span>
             <span></span>
          </div>
          <ul class="main-menu">
             <li class="active">
                <a href="index.html">Home</a>
             </li>
             <li>
                <a href="live.html">Live</a>
             </li>
             <li>
                <a href="football.html">Sports</a>
             </li>
             <li>
                <a href="cricket.html">V-Sport</a>
             </li>
             <li>
                <a href="profile.html">Promotions</a>
             </li>
             <li>
                <a href="cricket.html">eSports</a>
             </li>
             <li>
                <a href="#0" data-bs-toggle="modal" data-bs-target="#exampleModal2">Quick Bets</a>
             </li>
             <li class="menu--btn">
                <a href="#0" class="btn--two"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <span>Log In</span>
                </a>
             </li>
             <li class="menu--btn">
                <a href="#0" class="cmn--btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                   <span>Sign Up</span>
                </a>
             </li>
          </ul>
       </div>
       <div class="right-menu-reature">
          <div class="language">
             <div class="nice-select" tabindex="0">
                <span class="current">En</span>
                <ul class="list">
                   <li data-value="1" class="option selected focus">En</li>
                   <li data-value="2" class="option">Bn</li>
                   <li data-value="3" class="option">Us</li>
                </ul>
                <div class="glo-icon">
                   <i class="fas fa-globe"></i>
                </div>
             </div>
          </div>
          <div class="mode--toggle">
             <img src="{% static 'assets/img/sun.png' %}" alt="">
         </div>
          <div class="signup-area">
             <a href="#0" class="btn--two" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>
                   Log In
                </span>
             </a>
             <a href="#0" class="cmn--btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <span>
                   Sign Up
                </span>
             </a>
          </div>
       </div>
    </div>
 </header>
 <!--==== Header top End  ====== -->