{% load static %}
<!--==== Header top Here  ====== -->
<header class="header-section header-hidden">
    <div class="header-wrapper">
       <div class="menu-logo-adjust d-flex align-items-center">
          <div class="logo-menu me-5">
             <a href="index.html" class="logo">
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
             </a>
             <a href="index.html" class="dark-logo">
                <img src="{% static 'assets/img/logo/dark-logo.png' %}" alt="logo">
             </a>
          </div>
          <div class="header-bar">
             <span></span>
             <span></span>
             <span></span>
          </div>
          <ul class="main-menu">
             <li class="active">
                <a href="{% url 'index' %}">Home</a>
             </li>
             <li>
                <a href="{% url 'eventos' %}">Futebol</a>
             </li>
             <li>
                <a href="{% url 'detalhes' %}">Volei</a>
             </li>
             <li>
                <a href="{% url 'eventos' %}">Basquete</a>
             </li>
             <li>
                <a href="{% url 'eventos' %}">Xadrez</a>
             </li>
             <li>
                <a href="{% url 'eventos' %}">Fantasy Bet</a>
             </li>
             <li class="menu--btn">
                <a href="#0" class="btn--two"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <span>Log In</span>
                </a>
             </li>
             <li class="menu--btn">
                <a href="#0" class="cmn--btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                   <span>Sign Up</span>
                </a>
             </li>
          </ul>
       </div>
       <div class="right-menu-reature">
          <div class="mode--toggle">
             <img src="{% static 'assets/img/sun.png' %}" alt="">
         </div>
          <div class="signup-area">
             <a href="#0" class="btn--two" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>
                   Log In
                </span>
             </a>
             <a href="#0" class="cmn--btn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <span>
                   Sign Up
                </span>
             </a>
          </div>
       </div>
    </div>
 </header>
 <!--==== Header top End  ====== -->