{% load static %}
<!--Left Box Menu-->
<div class="left-site-menu">
    <div class="left-box">
       <header class="header">
          <nav class="menu">
            <ul class="main-list-menu">
                <li>
                   <ul class="menu-promot menu-promot-first">
                      <li>
                         <a href="index.html">
                            <div class="icon">
                               <i class="icon-home"></i>
                            </div>
                            <span>
                               Home
                            </span>
                         </a>
                         <a href="live.html" class="main-list-menu-live">
                            <div class="icon">
                               <i class="icon-live"></i>
                            </div>
                            <span>
                               Resultados
                            </span>
                            <span class="live-watch">
                               10
                            </span>
                         </a>
                         <a href="favorites.html">
                            <div class="icon">
                               <i class="fas fa-star"></i>
                            </div>
                            <span>
                               Favoritos
                            </span>
                         </a>
                      </li>
                   </ul>
                </li>
                <li>
                   <ul class="menu-promot menu-promot-bottom">
                      <li class="pro">
                         Modalidades
                      </li>
                      <li>
                         <a href="efootball.html">
                            <div class="icon">
                               <i class="icon-football"></i>
                            </div>
                            <span>
                               Futebol
                            </span>
                         </a>
                      </li>
                      <li>
                        <a href="volleyball.html">
                           <div class="icon">
                              <i class="icon-volleyball"></i>
                           </div>
                           <span>
                              Volei
                           </span>
                        </a>
                     </li>
                      <li>
                         <a href="basketball.html">
                            <div class="icon">
                               <i class="icon-basketball"></i>
                            </div>
                            <span>
                               Basquete
                            </span>
                         </a>
                      </li>
                      <li>
                        <a href="futsal.html">
                           <div class="icon">
                              <i class="icon-futsal"></i>
                           </div>
                           <span>
                              Futsal
                           </span>
                        </a>
                     </li>
                     <li>
                        <a href="mma.html">
                           <div class="icon">
                              <i class="icon-mma"></i>
                           </div>
                           <span>
                              MMA
                           </span>
                        </a>
                     </li>
                      <li>
                         <a href="tennis.html">
                            <div class="icon">
                               <i class="icon-tennis"></i>
                            </div>
                            <span>
                              Tênis de Mesa
                            </span>
                         </a>
                      </li>
                      <li>
                         <a href="table-tennis.html">
                            <div class="icon">
                               <i class="icon-tabletennis"></i>
                            </div>
                            <span>
                              Tênis
                            </span>
                         </a>
                      </li>
                      <li>
                         <a href="rugby.html">
                            <div class="icon">
                               <i class="icon-rugby"></i>
                            </div>
                            <span>
                               Rugby
                            </span>
                         </a>
                      </li>
                   </ul>
                </li>
            </ul>
            <div class="hamburger">
             <span></span>
             </div>
            <div class="hamb">
             <span></span>
             </div>
            <div class="dimmer"></div>
          </nav>
       </header>
    </div>
 </div>
 <!--Left Box Menu-->