{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!--Middle Body-->
   <div class="body-middle">

      <!--Breadcumnd-->
      <div class="breadcumnd-banner">
         <div class="container">
            <div class="breadcumd-content">
               <h1>
                  Futebol 
               </h1>
               <ul class="bread-tag">
                  <li>
                     <a href="#0">
                        Home
                     </a>
                  </li>
                  <li>
                     <i class="fas fa-arrow-right"></i>
                  </li>
                  <li>
                     Futebol
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!--Breadcumnd-->

      <!--Main-body-tabing-->
      <div class="main-body-tabbing">
         <div class="container">
            <div class="main-tabbing">
                <div class="tab-content" id="tabContentmain">
                  <!--all tab start-->
                  <div class="tab-pane fade show active" id="betsall" role="tabpanel">
                     <div class="match-table">
                        <!--table five-->
                        <div class="match-table-head pt-20 pb-20">
                           <h2>
                              Prematch 09.4.2022
                           </h2>
                        </div>
                        <div class="table-wrap mb-5">
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Bayern Munich</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/bayern.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/plazen.png' %}" alt="flag">
                                          </span>
                                          <span>Viktoria Plzen</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Olympique Marseille</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/marseille.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/sporting-cp.png' %}" alt="flag">
                                          </span>
                                          <span>Sporting CP</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--Prematch-->
                        <!--table five-->
                        <div class="match-table-head pb-20">
                           <h2>
                              Prematch 09.4.2022
                           </h2>
                        </div>
                        <div class="table-wrap mb-5">
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Internazionale</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/internaz.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/barsa.png' %}" alt="flag">
                                          </span>
                                          <span>Barcelona</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Liverpool</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/liverp0ol.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/rangers.png' %}" alt="flag">
                                          </span>
                                          <span>Rangers Glasgow</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Porto</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/porto.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/bayer.png' %}" alt="flag">
                                          </span>
                                          <span>Bayer 04 Leverkusen</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Club Brugge</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/brugge.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/atletico-madrid.png' %}" alt="flag">
                                          </span>
                                          <span>Atletico Madrid</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>7.58</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>8.08</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>2.98</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>1.84</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.7</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+37</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!--table premiar-->
                        <div class="match-table-head pb-20">
                           <h2>
                              Prematch 09.4.2022
                           </h2>
                        </div>
                        <div class="table-wrap">
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Manchester City</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/man-city.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/compenhagen.png' %}" alt="flag">
                                          </span>
                                          <span>Copenhagen</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>8.8</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>01.51</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>4.021</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>92.40</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.07</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+93</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Chelsea</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/chelsea.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/milan.png' %}" alt="flag">
                                          </span>
                                          <span>AC Milan</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>8.8</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>01.51</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>4.021</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>92.40</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.07</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+93</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Sevilla</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/sevilla.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/dortmund.png' %}" alt="flag">
                                          </span>
                                          <span>Borussia Dortmund</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>8.8</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>01.51</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>4.021</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>92.40</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.07</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+93</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Juventus</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/juventus.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/haifa.png' %}" alt="flag">
                                          </span>
                                          <span>Maccabi Haifa</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>8.8</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>01.51</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>4.021</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>92.40</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.07</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+84</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="table-inner">
                              <div class="table-head">
                                 <a href="details.html" class="left-compo">
                                    <span>
                                       <img src="{% static 'assets/img/table/luage.png' %}" alt="icon">
                                    </span>
                                    <span>
                                       UEFA Champions League
                                    </span>
                                 </a>
                                 <ul class="right-compo">
                                    <li>
                                       Oct 21 00:45
                                    </li>
                                    <li>
                                       Match Winner
                                    </li>
                                    <li>
                                       Total
                                    </li>
                                 </ul>
                              </div>
                              <div class="table-body">
                                 <ul class="table-body-left">
                                    <li>
                                       <a href="#0">
                                          <span>Benfica</span>
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/benfica.png' %}" alt="flag">
                                          </span>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0" class="vs">
                                          VS
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#0">
                                          <span class="icon">
                                             <img src="{% static 'assets/img/table/psg.png' %}" alt="flag">
                                          </span>
                                          <span>PSG</span>
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="table-body-right">
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">1</span>
                                       <span>8.8</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">X</span>
                                       <span>01.51</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">2</span>
                                       <span>4.021</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">O 2.5</span>
                                       <span>92.40</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="list">U 2.5</span>
                                       <span>5.07</span>
                                    </a>
                                    <a href="#0" class="table-pointing-box">
                                       <span class="last-digit">+74</span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
                  <!--all tab End-->
               </div>
            </div>
         </div>
      </div>
      <!--Main-body-tabing-->

      <!--Sponsor Section-->
      <div class="sponsor-section">
         <div class="container">
            <div class="sponsor-wrap owl-theme owl-carousel">
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/01.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/02.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/03.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/04.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/05.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/06.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/07.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/08.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/sponsor/09.png' %}" alt="img">
                  </a>
               </div>
            </div>
            <div class="sponsor-wrap dark-none owl-theme owl-carousel">
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/01.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/03.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/04.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/05.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/06.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/07.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/08.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/09.png' %}" alt="img">
                  </a>
               </div>
               <div class="sponsor-item">
                  <a href="#0">
                     <img src="{% static 'assets/img/light-sponsor/01.png' %}" alt="img">
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!--Sponsor Section-->

      <!--Footer Section-->
      <footer class="footer-section">
         <div class="container">
            <div class="footer-wrapper">
               <p>
                  Copyright 2022 <a href="#0" class="text-base">OnlineBets</a> All Rights Reserved.
               </p>
               <ul class="footer-link">
                  <li>
                     <a href="#0">
                        Affiliate program
                     </a>
                  </li>
                  <li>
                     <a href="#0">
                        Terms & conditions
                     </a>
                  </li>
                  <li>
                     <a href="#0">
                        Bonus terms & conditions
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <!--Footer Section-->
      <a href="#0" class="click-btn" data-bs-toggle="modal" data-bs-target="#exampleModal3">
         <i class="icon-basketball"></i>
      </a>
   </div>
   <!--Middle Body-->
{% endblock %}